<form (ngSubmit)="addProducto()">
  <ion-item>
    <ion-input name="nombre" placeholder="Nombre producto" [(ngModel)]="producto.nombre" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="descripcion" placeholder="Descripción" [(ngModel)]="producto.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input type="number" name="precio" placeholder="Precio" [(ngModel)]="producto.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="imageUrl" placeholder="URL imagen" [(ngModel)]="producto.imageUrl"></ion-input>
  </ion-item>
  <br>

  <ion-button type="submit" expand="full" style="color:white; --background: #3c59e7;">Guardar</ion-button>
</form>

<br><br>