<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <ion-toolbar id="head">
      <ion-title routerLink="/inicio" style="color: white;">
        MAGHER
      </ion-title>
      <ion-button slot="end" fill="clear" routerLink="/inicio"><ion-icon name="home-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <h2 style="margin-left: 20px;">Registro de usuario</h2>
  <app-registar-usuario></app-registar-usuario>
</ion-content>
